.product{
    position: relative;
    margin-top: 15%;
    border: 0.5px solid #04aec8;
    width: 339px;
    height: 350px;
    text-align: left;
}
.product:hover .posmotret{
    display: block;
}
.product:hover .wetka{
    transform: scale(1.2,1.2);
}
.wetka{
    transition: 1s;
    position: absolute;
    top: 6%;
    left:21%;
    width: 180px;
    height: 180px;
}
.title{
    color: #707070;
    font-size: 14px;
    position: absolute;
    bottom: 25%;
    left: 8%;
    font-weight: bold;
    font-family: Ubuntu;
}
.descriptionDiv{
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    color: black;
    bottom: 20%;
    left: 8%;
}
.buy{
}
.price{
    position: absolute;
    bottom: 10%;
    left: 8%;
    color: black;
    font-size: 20px;
}

.posmotret{
    display: none;
    position: absolute;
    bottom: 8%;
    right: 8%;
    color: black;
    font-size: 20px;
    background-color: #04aec8;
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition: visibility 1s;
    transition: 500ms;
}
.posmotret:hover{
    color:#04aec8;
    background-color: white;
    border: 1px solid #04aec8;
}
