.text1div{
    position: relative;
}
.text1{
    position: absolute;
    left: 2%;
    top: 10px;
    color: #000;
    font-family: Ubuntu;
    font-size: 23px;
}
.text2{
    margin-left: 6%;
    margin-top: 0.5%;
    text-decoration: underline;
    color: #3f51b5;
}
.text2:hover{
    cursor: pointer;
}
.productsList{
    overflow: hidden;
    height: 400px;
    padding: 10px;
}
/*.pagination{*/
/*    display: flex;*/
/*    margin-left: 50%;*/
/*}*/
/*.pagination div{*/
/*    margin-right: 30px;*/
/*}*/
