@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.product{
    position: relative;
    height: 300px;
    padding-top:20px;
    border: 0.5px solid #ccc;
    text-align: left;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    background-color: #fff;
    transition: 500ms;
}
.product:hover .posmotret{
    display: block;
}
.product:hover{
    z-index: 99;
    box-shadow: 1px 1px 6px 1px dimgrey;
    padding-bottom: 30px;
}
.wetka{
    text-align: center;
}
.wetka_img{
    transition: 5s;
    width: 150px;
    height: 150px;
}
.title{
    margin-left: 5%;
    margin-top: 5%;
    color: #707070;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto,sans-serif;

}
.descriptionDiv{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 13px;
    font-family: Roboto,sans-serif;
    color: black;
}
.price{
    position: absolute;
    left:4%;
    bottom: 15%;
    color: black;
    font-size: 20px;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;

}

.posmotret{
    font-family: Montserrat;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    display: none;
    bottom: 5%;
    left: 22%;
    font-size: 14px;
    padding: 5px;
    color:#fff;
    background-color:#04aec8;
    border: 1px solid #04aec8;
    transition: 500ms;
}
