.container{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 2%;
}
.container2{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2%;
}
.product{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    position: relative;
    box-shadow: 1px 0.5px 6px 2px #3f51b5;
    border-radius: 10%;
    width: 300px;
    height: 440px;
}
.wetka{
    margin-top: 15%;
    margin-bottom: 9%;
    width: 220px;
    height: 220px;
}
.title{
    position: absolute;
    color: #3f51b5;
    font-size: 18px;
    margin-right: 58%;
    font-weight: lighter;
    font-family: Ubuntu;
}
.description{
    font-size: 15px;
    font-weight: bold;
    color: #3f51b5;
    text-decoration: none !important;
    text-underline: none !important;;
}
.descriptionDiv{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.buy{
    display: flex;
}
.price{
    width: 20%;
    height: 16px;
    padding: 10px;
    font-family: Ubuntu;
    background-color: #C9F5FF;
    border-radius: 1%;
    color: #3f51b5;
    font-weight: bold;
    position: absolute;
    left: 20px;
    bottom: 29px;
}
.basket{
    position: absolute;
    right: 12px;
    bottom: 18px;
    border: 1px solid #00D1FF;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
.basket_image{
    color: #00D1FF;
    width: 32px;
    height: 30px;
}
.pricefilter{
    display: flex;
}