.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 14px;
    margin-left: -60px;
    grid-gap: 100px 20px;
    font-family: Ubuntu;
    color: #707070;
}
.gridChild{
    margin-right: 20px;
}
.title{
    color: #4F5D75;
    font-size: 18px;
    font-weight: bold;
}
.subcategory:hover{
    color:red;
    cursor: pointer;
}
.child{
    color: #4F5D75;
    margin-top: 25px;
    font-size: 15px ;
}