.specificationContainer {
    display: flex;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight:lighter ;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #ccc;
}