@media (max-width: 480px) {
    .advertisingDiv{
        height: 300px !important;
    }
    .advertisingImg{
        width: 100%;
        height: 280px !important;
    }
}
.advertisingDiv{
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
}
.advertisingImg{
    width: 100%;
    height: 500px;
}