.partner{
    margin-bottom: 100px;
}
.div1{
    height: 40px;
    padding: 7px;
    background-color: #B1E0E8;
}
.text1{
    font-size: 30px;
    font-weight: bold;
    font-family: Ubuntu;
    color: #4F5D75;
}
.partnersList{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.gilette{
    width: 268px;
    height: 122px;
}