.footer{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    background-color: #00AEC8;
    color: white;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.footer div{
    margin-top: 2.5%;
}