.container{
    display: flex;
    border:1px solid #ccc;
    width: 80%;
    height: 600px;
    position: absolute;
    top: 28%;
    left: 10%;
    z-index: 1;
    background-color: white;
}
.oplatatext{
    font-size: 30px;
    font-weight: lighter;
    font-family: Ubuntu;
    color:#4F5D75;
    text-align: start;
    border-bottom: 2px solid #00D1FF;
    margin-left: 5%;
    width: 80%;
    margin-top: 2%;
}
.custom_select{
    background-color: #B1E0E8;
    font-size: 20px;
    color: black;
    width: 80%;
    height:50px;
    margin-top: 3%;
    margin-right: 10%;
    border-radius: 20px;
}
.www{
    background-color: white;
    width: 50%;
}
.sss{
    width: 50%;
    background-color: #B1E0E8;
}
.containerCheck{
    margin: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 2px solid #00D1FF;
}
.imgDiv{
    width: 100%;
}
.checkImg{
    width: 100px;
    height: 100px;
}
.checkTitle{
    font-size: 17px;
    font-family: Ubuntu;
    font-weight: lighter;
}
.exit{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 30px;
}
.exitImg{
    width: 25px;
    height: 25px;
}